Lambda Fonksiyonu :
 
etiket = lambda parametre1,parametre2.... :  İşlem

In [1]:
liste1 = [1,2,3,4,5] 
liste2 = list()
for i in liste1: 
    liste2.append(i*2)
print(liste2)

[2, 4, 6, 8, 10]

In [3]:
liste3 = [1,2,3,4,5]
liste4 = [i * 2 for i in liste3] 
print(liste4)

[2, 4, 6, 8, 10]

In [2]:
def ikiyleçarp(x): # Klasik fonksiyon tanımlama
    return x * 2
print(ikiyleçarp(2))

4

In [5]:
ikiyleçarp = lambda x : x * 2 
 
ikiyleçarp(5)

10

In [6]:
def toplama(a,b,c):
    return a + b + c
 
print(toplama(3,4,5))

12

In [7]:
topla = lambda x,y,z : x + y + z
 
print(topla(3,4,5))

12

In [13]:
def terscevir(s):
    return s[::-1]

metin=input()
print(terscevir(metin))

Bilgisayar
rayasigliB

In [15]:
ters =  lambda s : s[::-1]

metin=input()
print(ters(metin))

Bilgisayar
rayasigliB

In [17]:
çifttek = lambda sayı :  sayı % 2 == 0 
 
#çifttek(34)
 
çifttek(13)

False

In [18]:
x = lambda a : a + 10
print(x(5))

15

In [19]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [12]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [24]:
def myfunc(n):
  return lambda a : a * n
#lambda a :a*2
mydoubler = myfunc(2)
#mydoubler=lambda a :a*2
print(mydoubler(15))

30

In [25]:
def myfunc(n):
  return lambda a : a * n
#lambda a:a*3
mytripler = myfunc(3)
#mytripler=lambda a:a*3
print(mytripler(11))

33

In [27]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
#mydoubler=lambda a:a*2
mytripler = myfunc(3)
#mytripler=lambda a:a*3
print(mydoubler(10))
print(mytripler(15))

20
45

Recursive Fonksiyonlar(Öz Yinelemeli Fonksiyonlar)

Kendi kendini çağıran fonksiyonlar...

In [35]:
def azalt(s):
    if len(s) < 1:
        return s
    else:
        print(s)
        return azalt(s[1:])
#print(len('Bilgisayar'))
print(azalt('Bilgisayar'))
#s=Bilgisayar
#azalt(ilgisayar)
#azalt(lgisayar)
#azalt(gisayar)
#...... azalt(r) azalt('')

Bilgisayar
ilgisayar
lgisayar
gisayar
isayar
sayar
ayar
yar
ar
r

In [39]:
def Usal(sayi,us):#sayı=4 us=1
    if us==1:
        return sayi
    elif us==0:
        return 1
    else:
        return sayi*Usal(sayi,us-1)
print(Usal(4,3))
#4*usal(4,2)=4*16=64
  #4*usal(4,1)=4*4=16
      #usal(4,1)=4

64

In [40]:
def Faktoriyel(sayi): #sayı=1
    if sayi==1:
        return 1
    else:
        return sayi*Faktoriyel(sayi-1)
print(Faktoriyel(5))
#5*faktoriyel(4) =5*24=120
     #4*faktoriyel(3)=4*6=24 
          #3*faktoriyel(2)=3*2=6
              #2*faktoriyel(1)=2*1

120

Kaynakça:

https://www.yazilimbilimi.org/python-lambda-function-lambda-fonksiyonlar/ 

https://www.w3schools.com/python/python_lambda.asp

https://python-istihza.yazbel.com/ileri_fonksiyonlar.html

https://yazilimhanem.com/python-recursive/